<div class="jumbotron mt-2">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">We are the data dudes.</p>
  <hr class="my-4">
  <p style="line-height: 2;">The purpose of the Salutaris is to enable users ( any person ) to give  access to different services provided by institutions and organization in order create an  ecosystem where each of us have the right information to improve our health along with all the other institutions  and organizations that will be interested in provide services we really need, receiving for that the right monetary incentives and rewards.

As a user of the Salutaris, according your profile you will receive information related with medical services like medical centers, pharmacies to find specific medicines at lower prices and discounts, as well as nutritional information according with your habits and medical diagnostics. Each interaction with those organizations would be transparent and secure, keeping the user’s privacy always protected.

The information generated at the Salutaris in the aggregated mode (e.g. the population grouped by zip codes), could be used by organization for planning future service like supermarkets, shopping malls, government institutions services (e.g. counties that aim to improve health services in their area), and services like, pharmacies, laboratories, gyms or restaurants, in order to focus on the need of the population of each area,  generating discounts, gift cards and promotions for our users.

In the future we have plans to give some specialized consulting services (lower cost) with the possibility to integrate telemedicine (general practitioners) with their electronic health records.

</p>
</div>