<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid">
    <form class="form-group" id="login">
      <div class="container">
        <label for="emaiL">Email address</label>
        <input type="email" class="form-control" id="emaiL" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <label for="passworD">Password</label>
        <input type="password" class="form-control" id="passworD" placeholder="Password">
        {{!-- onclick="window.location.href='/userlanding'" --}}
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
    </form>
  </div>
</div>