<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form class="form-group" id="signUp">
                <div id="container" style="width:30%" class="center">
                    <label for="lastName">Last Name: </label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">

                    <label for="firstName">First Name: </label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">

                    <label for="zipCode">Zip Code: </label>
                    <input type="text" class="form-control" id="zipCode" placeholder="Zip code" title="Zip code"
                        pattern=".{5,5}">

                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                {{!-- onclick="window.location.href='/survey'" --}}
                <button type="submit" class="btn btn-primary" id="submitUser">Submit</button>
            </form>
        </div>

    </div>
</div>