<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="form-group">
                <label for="smoke">Do you smoke?</label>
                <select name="smoke" class="form-control" id="smoke" style="max-width: 20%">
                    <option>No</option>
                    <option>Yes</option>
                </select>
            </div>
            <div class="form-group">
                <label for="drinks">How many times do you drink?(Per week)</label>
                <input class="form-control" id="drinks" type="number" style="max-width: 20%" min="1"
                    oninput="validity.valid||(value='')" title="numbers only">
            </div>
            <div class="form-group">
                <label for="weight">How much do you weigh?</label>
                <input class="form-control" id="weight" type="number" style="max-width: 20%" min="0"
                    oninput="validity.valid||(value='')" title="numbers only">
            </div>
            <div class="form-group">
                <label for="calories">How many calories do you ingest?(Daily)</label>
                <input class="form-control" id="calories" type="number" style="max-width: 20%" min="0"
                    oninput="validity.valid||(value='')">
            </div>
            <div class="form-group">
                <label for="exercise">How much excercise do you do per week?(Minutes)</label>
                <input class="form-control" id="exercise" type="number" style="max-width: 20%" min="0"
                    oninput="validity.valid||(value='')">
                <label for="mood">What's your mood?</label>
                <select class="form-control" id="mood" rows="1" style="max-width: 20%">
                    <option value="0">happy</option>
                    <option value="1">content</option>
                    <option value="2">sad</option>
                </select>
                <label for="race">What is your race?</label>
                <select class="form-control" id="race" id="race" rows="1" style="max-width: 20%">
                    <option value="05">Not releaseable</option>
                    <option value="02">Black</option>
                    <option value="03">AIAN</option>
                    <option value="04">Asian</option>
                    <option value="07">Multi-Race</option>
                    <option value="09">Hispanic</option>
                    <option value="01">White</option>
                </select>
                <label for="gender">What is your gender?</label>
                <select class="form-control" id="gender" style="max-width: 20%">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="apache helicopter">Apache Helicopter</option>
                </select>
                <label for="height">How tall are you?(inches)</label>
                <input class="form-control" id="height" type="number" style="max-width: 20%" min="1"
                    oninput="validity.valid||(value='')" title="numbers only">
            </div>
            <button type="submit" class="btn btn-primary" onclick="window.location.href='#'"
                id="submitUser">Submit</button>
        </div>
    </div>
</div>