<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{!-- names and user info --}}
                    <p><span id="firstName"> <span id="lastName"></span></span></p>
                    <p><span id="zipcode"></span></p>
                    
                </div>
                <div class="col">
                    {{!-- health information --}}
                    <div id="container" style="width:30%" class="center">

                        <p>User Score ID: <span id="userScore"></span> </p>
                        <p>Heart Risk: <span id="heart"></span></p>
                        <p>Liver Risk: <span id="liver"></span></p>
                        <p>Kidney Risk: <span id="kidney"></span></p>
                        <p>Diabetes Risk: <span id="diabetes"></span></p>
                        <p>Cancer Risk: <span id="cancer"></span></p>
                        <p>Stroke Risk: <span id="stroke"></span></p>
                        <p>Health Risk: <span id="health"></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Smoke: <span id="smoker"></span></p>
                    <p>Drinks: <span id="drinker"></span></p>
                    <p>Weigth: <span id="weighter"></span></p>
                    <p>Calories: <span id="calorier"></span></p>
                    <p>Exercise: <span id="exerciser"></span></p>
                    <p>Mood: <span id="mooder"></span></p>
                    
                </div>
                <div class="col">
                    {{!-- speedometer pie chart --}}
                    <img src="" id="piechart" alt="">
                </div>
            </div>
        </div>
    </div>
</div>