<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div id="container" style="width:30%" class="center">

       <p>User Score ID: <span id="userScore"></span> </p>
       <p>Heart Risk: <span id="heart"></span></p>
       <p>Liver Risk: <span id="liver"></span></p>
       <p>Kidney Risk: <span id="kidney"></span></p>
       <p>Diabetes Risk: <span id="diabetes"></span></p>
       <p>Cancer Risk: <span id="cancer"></span></p>
       <p>Stroke Risk: <span id="stroke"></span></p>
       <p>Health Risk: <span id="health"></span></p>

       <button type="submit" class="btn btn-primary" id="submitScore">Submit</button>
   </div>
        </div>
    </div>
</div>